<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav-container__sidenav" mode="side">
    <div class="sidenav-container__sidenav-content">
      <div class="pages">
        <div
          class="button-container"
          [ngClass]="{
            'button-container__active': router.url === '/configuration',
          }"
          routerLink="/configuration">
          <mat-icon>help</mat-icon>
          Configuration
        </div>
        <div
          class="button-container"
          [ngClass]="{
            'button-container__active': router.url === '/dashboard',
          }"
          routerLink="/dashboard">
          <mat-icon>account_circle</mat-icon>
          Dashboard
        </div>
      </div>
    </div>
  </mat-drawer>

  <div
    class="sidenav-container__toggle"
    [ngClass]="
      drawer.opened
        ? 'sidenav-container__toggle-close'
        : 'sidenav-container__toggle-open'
    ">
    @if (drawer.opened) {
      <p-button icon="pi pi-chevron-left" (click)="drawer.toggle()" />
    } @else {
      <p-button icon="pi pi-chevron-right" (click)="drawer.toggle()" />
    }
  </div>
</mat-drawer-container>
