@use '../../../vars';
@use 'sass:map';

:host {
  height: 100%;
  width: 100%;

  .actions {
    display: flex;
    gap: map.get(vars.$spacing, 'md');
  }

  .accordion__panel {
    border-radius: map.get(vars.$radius, 'xs');
    background-color: map.get(vars.$grey, 10);
    padding: map.get(vars.$spacing, 'xs') map.get(vars.$spacing, 'xs');

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    border-bottom: 1px solid map.get(vars.$grey, 30);

    &:last-child {
      border-bottom: none;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: map.get(vars.$grey, 30);
      }
    }
  }

}


