<app-page-wrapper>
  <div title>Monitoring and Analysis</div>

  <div actions class="actions">
    <button mat-fab class="settings-button" (click)="doNothing()">
      <mat-icon>settings</mat-icon>
    </button>
  </div>

  <mat-accordion class="accordion__header" multi>
    <mat-expansion-panel class="accordion__panel">
      <mat-expansion-panel-header class="accordion__panel-header">
        <mat-panel-title class="accordion__panel-title"> Statistics </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Statistics info</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="accordion__panel">
      <mat-expansion-panel-header class="accordion__panel-header">
        <mat-panel-title class="accordion__panel-title"> Charts </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Charts info</p>
    </mat-expansion-panel>
  </mat-accordion>
  <p-skeleton height="10rem" width="100%" />
</app-page-wrapper>
