<div class="dialog">
  <h2 mat-dialog-title class="dialog__header">Settings</h2>
  <mat-dialog-content class="dialog__content">
    <div class="dialog__content__statistics__columns">
      <div class="dialog__content__statistics__columns-title">
        Statistics columns
      </div>
      <div class="dialog__content__statistics__columns-content">
        <app-slide-toggle>Total packets</app-slide-toggle>
        <app-slide-toggle>Packets per seconds</app-slide-toggle>
        <app-slide-toggle>Total bytes</app-slide-toggle>
        <app-slide-toggle>Bytes per second</app-slide-toggle>
      </div>
    </div>
    <div class="dialog__content__statistics__rows">
      <div class="dialog__content__statistics__rows-title">
        Statistics rows & charts
      </div>
      <div class="dialog__content__statistics__rows-content">
        <app-slide-toggle>ETH</app-slide-toggle>
        <app-slide-toggle>IPv4</app-slide-toggle>
        <app-slide-toggle >IPv6</app-slide-toggle>
        <app-slide-toggle >TCP</app-slide-toggle>
      </div>
    </div>
    <div class="dialog__content__statistics__ir">
      <div class="dialog__content__statistics__ir-title">
        Information Rate
      </div>
      <div class="dialog__content__statistics__ir-content">
        <app-slide-toggle class="custom" >Min value</app-slide-toggle>
        <app-slide-toggle >Max value</app-slide-toggle>
        <app-slide-toggle >Current value</app-slide-toggle>

      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog__actions">
    <app-button secondary class="cancel-button">CANCEL</app-button>
    <app-button class="save-button">SAVE</app-button>
  </mat-dialog-actions>
</div>
