@use '../../../vars';
@use 'sass:map';

.page-wrapper {
  display: block;
  min-height: calc(100vh - 2 * vars.$headerHeight);

  margin: map.get(vars.$spacing, 'xl') map.get(vars.$spacing, 'xl')
    map.get(vars.$spacing, 'none');
  background-color: map.get(vars.$grey, 0);
  border-radius: map.get(vars.$radius, 'xs');

  .page {
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: map.get(vars.$spacing, 'lg') map.get(vars.$spacing, 'xxl')
        map.get(vars.$spacing, 'xs');

      &__title {
        font-family: Monoton, cursive;
        font-size: map.get(vars.$text, 'xxl');
      }
    }

    &-body {
      padding: map.get(vars.$spacing, 'xxl');
    }
  }
}

.copyright {
  margin: map.get(vars.$spacing, 'sm') map.get(vars.$spacing, 'xl');
  text-align: right;
}
