@use '../../../vars';
@use 'sass:map';

.dashboard-charts {
  &__interval {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: map.get(vars.$spacing, 'xxl');
    padding: map.get(vars.$spacing, 'xl');

    &-slider {
      display: grid;
      align-items: center;
      padding: map.get(vars.$spacing, 'none') map.get(vars.$spacing, 'xxl');
      background-color: map.get(vars.$grey, 0);
      border-radius: map.get(vars.$radius, 'md');
      margin-bottom: map.get(vars.$spacing, 'lg');
    }
  }
}
