@use 'sass:map';
@use 'vars';
@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Monoton&display=swap');

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-divider {
  border-color: map.get(vars.$grey, 30) !important;
}

.dashboard-charts {
  &__interval {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: map.get(vars.$spacing, 'xxl');
    padding: map.get(vars.$spacing, 'xl');

    &-slider {
      display: grid;
      align-items: center;
      padding: map.get(vars.$spacing, 'none') map.get(vars.$spacing, 'xxl');
      background-color: map.get(vars.$grey, 0);
      border-radius: map.get(vars.$radius, 'md');
      margin-bottom: map.get(vars.$spacing, 'lg');
    }
  }
}
