$textPrimary: #520000;
$error: #ff2525;
$sidenavWidth: 256px;
$headerHeight: 68px;

$grey: (
  0: #ffffff,
  10: #f5f6f6,
  20: #f3eaea,
  30: #dddddd,
  50: #c5c5c5,
  100: #686868,
  200: #181818,
  500: #000000,
);

$text: (
  'none': 0,
  'xxxs': 0.1rem,
  'xxs': 0.25rem,
  'xs': 0.5rem,
  'sm': 0.75rem,
  'md': 1rem,
  'lg': 1.25rem,
  'xl': 1.5rem,
  'xxl': 2rem,
  'xxxl': 4rem,
);

$spacing: (
  'none': 0,
  'xxxs': 0.1rem,
  'xxs': 0.25rem,
  'xs': 0.5rem,
  'sm': 0.75rem,
  'md': 1rem,
  'lg': 1.25rem,
  'xl': 1.5rem,
  'xxl': 2rem,
  'xxxl': 4rem,
);

$radius: (
  'none': 0,
  'xxxs': 0.1rem,
  'xxs': 0.25rem,
  'xs': 0.5rem,
  'sm': 0.75rem,
  'md': 1rem,
  'lg': 1.25rem,
  'xl': 1.5rem,
  'xxl': 2rem,
  'xxxl': 4rem,
);
