<app-page-wrapper>
  <div title>Analyzer configuration</div>

  <div actions class="actions">
    @if (isReadonly()) {
      <app-button (click)="isReadonly.set(false)">Edit</app-button>
    } @else {
      <app-button secondary (click)="isReadonly.set(true)">Cancel</app-button>
      <app-button>Save</app-button>
    }
  </div>

  @if (configuration.isLoading()) {
    <app-configuration-template>
      <div mac-source>
        <ngx-skeleton-loader count="5" />
      </div>
      <div mac-destination>
        <ngx-skeleton-loader count="5" />
      </div>
      <div frames>
        <ngx-skeleton-loader count="5" />
      </div>
      <div protocols>
        <ngx-skeleton-loader count="5" />
      </div>
    </app-configuration-template>
  } @else {
    @if (isReadonly()) {
      <app-configuration-template>
        <p-select
          [disabled]="configurationOptions.isLoading()"
          [options]="configurationOptions.value()!"
          [optionValue]="chosenConfiguration()?.name"
          (onChange)="onChangeConfiguration($event)"
          optionLabel="name"
          placeholder="Configuration" />

        <div mac-source class="configuration__mac">
          <div class="configuration__mac-title">Source:</div>
          <div class="configuration__mac-content">
            @for (mac of configuration.value()?.mac_source; track $index) {
              <app-pill>{{ mac }}</app-pill>
            } @empty {
              <app-pill>All addresses</app-pill>
            }
          </div>
        </div>
        <div mac-destination class="configuration__mac">
          <div class="configuration__mac-title">Destination:</div>
          <div class="configuration__mac-content">
            @for (mac of configuration.value()?.mac_destination; track $index) {
              <app-pill>{{ mac }}</app-pill>
            } @empty {
              <app-pill>All addresses</app-pill>
            }
          </div>
        </div>
        <div frames>
          @for (frame of configuration.value()?.frame_range; track $index) {
            <app-pill>{{ frame[0] }} — {{ frame[1] }}</app-pill>
          } @empty {
            <app-pill>All sizes</app-pill>
          }
        </div>
        <div protocols>
          @for (protocol of configuration.value()?.protocol; track $index) {
            <app-pill>{{ protocol }}</app-pill>
          } @empty {
            <app-pill>None</app-pill>
          }
        </div>
      </app-configuration-template>
    } @else {
      <app-configuration-form [configuration]="configuration.value()!" />
    }
  }
</app-page-wrapper>
