@use '../../../vars';
@use 'sass:map';

:host {
  height: 100%;
  width: 100%;

  .actions {
    display: flex;
    gap: map.get(vars.$spacing, 'md');
  }

  p-select {
    border-radius: map.get(vars.$radius, 'xs');
    background-color: map.get(vars.$grey, 30);
    padding: map.get(vars.$spacing, 'md') map.get(vars.$spacing, 'xl');
  }

  ngx-skeleton-loader {
    display: flex;
    flex-direction: row;
    gap: map.get(vars.$spacing, 'md');

    ::ng-deep * {
      height: 50px;
    }
  }

  .configuration {
    &__header {
      display: flex;
      justify-content: space-between;

      &-actions {
        display: flex;
        gap: map.get(vars.$spacing, 'xs');

        & > button {
          box-shadow: none;
        }
      }
    }

    &__mac {
      display: flex;
      justify-content: space-between;

      &-title {
        color: map.get(vars.$grey, 100);
        font-size: map.get(vars.$text, 'lg');
      }

      &-content {
        width: calc(100% - 200px);
      }
    }
  }

  // Configuration select
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: map.get(vars.$grey, 10);
    border-radius: map.get(vars.$radius, 'xs');
  }
}
